body {
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
        "Lucida Sans", Arial, sans-serif;
    background-color: rgb(240, 240, 243);
    display: grid;
}

/*NAVBAR*/
.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    height: 100px;
    background-color: #cdfffc;
}

.logo-nav {
    height: 80px;
    width: 80px;
}

.logo-nav-img {
    height: 100%;
}

/*PROFILE*/

.profile-pic-box .profile-pic {
    height: 100%;
}

.profile-pic-box.small {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    cursor: pointer;
}

.profile-pic.large {
    width: 200px;
    height: 200px;
    cursor: pointer;
}

.profile-component {
    display: grid;
    grid-template-columns: 1fr, 1fr;
    grid-template-rows: 1fr, 1fr, 1fr;
}

.profile-component h1 {
    color: hotpink;
}

.uploader {
    margin: 2rem;
    padding: 2rem;
    background-color: rgba(245, 248, 248, 0.657);
    border: 1px solid rgba(121, 147, 168, 0.589);
    height: 40%em;
    width: 50%;
}

.border-red {
    border: solid red 2px;
    margin: 4px;
}

.border-blue {
    border: solid blue 2px;
    margin: 4px;
}

.border-green {
    border: solid green 2px;
    margin: 4px;
}

.border-black {
    border: solid black 2px;
    margin: 4px;
}

/* FRIENDS */

.FriendButton {
    height: 40px;
    width: 100px;
}
