* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial;
    background-color: rgb(240, 240, 243);
    display: grid;
}

/*NAVBAR*/

.header {
    box-shadow: 2px 8px 26px -14px rgba(0, 0, 0, 0.75);
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 80px;
    background-color: rgba(202, 204, 187, 0.301);
    margin-bottom: 0px;
}

.navelements {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: 10px;
    color: cornsilk;
    padding: 20px;
    font-size: 25px;
}

.navitem {
    margin: 15px;
    text-decoration: none;
}

.logo-nav {
    height: 50px;
    width: 50px;
    margin-top: 20px;
    margin-left: 25px;
}

.logo-nav-img {
    height: 100%;
}

.greeting {
    background-color: #f1c39844;
    color: rgb(87, 76, 32);

    padding: 5px;
    font-size: 20px;
}
/*PROFILE*/

.profile-pic-box .profile-pic {
    height: 100%;
    border-radius: 6%;
    margin: 10px;
}

.profile-pic-box.small {
    position: absolute;
    right: 20px;
    width: 80px;
    height: 80px;

    /* clip-path: circle(50% at 50% 50%); */
    cursor: pointer;
}

.profile-pic.large {
    width: 150px;
    height: 150px;
    cursor: pointer;
}

.profile-component {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.banner-img {
    margin-top: 30px;
    padding: 50px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    background-color: #fbd38d65;
    width: 70%;
    border-radius: 10px;
    box-shadow: 2px 8px 26px -14px rgba(0, 0, 0, 0.75);
}

.bio-text {
    align-self: flex-end;
}

.profile-component h1 {
    color: #cc561e;
}

.bio-text {
    width: 65%;
    margin-top: 30px;
}

.profile-content {
    display: flex;
}

.image-galery {
    width: 250px;
    height: 250px;
    background-color: rgb(138, 18, 18);
    justify-self: flex-start;
}

.comments {
    width: 250px;
    height: 250px;
    background-color: lightcoral;
    justify-self: flex-end;
}

.uploader {
    margin: 2rem;
    padding: 2rem;
    background-color: rgba(245, 248, 248, 0.657);
    border: 1px solid rgba(121, 147, 168, 0.589);
    height: 40%em;
    width: 50%;
}

.border-red {
    border: solid red 2px;
    margin: 4px;
}

.border-blue {
    border: solid blue 2px;
    margin: 4px;
}

.border-green {
    border: solid green 2px;
    margin: 4px;
}

.border-black {
    border: solid black 2px;
    margin: 4px;
}

/* FRIENDS */

.FriendButton {
    height: 40px;
    width: 100px;
}
